<!DOCTYPE html>
<html>
  <head>
    {%block head%}
    <title>Gym Manager</title>
    {%endblock%}
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
      <header>
        <div class="menu">
          <a href="/instructors">Instructors</a>
          <a href="/members">Members</a>
        </div>
      </header>
      {% block content %}{% endblock %}
  </body>
  <script src="/js/scripts.js"></script>
</html>